:host {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
  width: 100%;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tool-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  line-height: 42px;
  padding: 0px 12px 0px 12px;

  &:hover {
    background: rgba(245, 245, 245, 1);
  }

  .left {
    width: calc(100% - 54px);
    display: flex;
    align-items: center;
    gap: 4px;

    .unfolded {
      color: #808080;
    }

    .collapsed-icon {
      transform: rotate(90deg);
    }

    .unfolded-icon {
      transform: rotate(-90deg);
    }

    .title-text {
      color: #191919;
      font-weight: 600;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 8px;

    .add-icon {
      color: #191919;
    }

    #add-button {
      color: #191919;
    }
  }
}

.loading-icon {
  position: absolute;
  top: 24px;
  width: 100%;
  height: calc(100% - 24px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.tool-list {
  display: flex !important;
  flex-direction: column;
  gap: 8px;
  height: calc(100% - 34px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 12px;
  width: 100%;
  max-width: 100%;

  .tool-item {
    padding: 10px 16px 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    border-radius: 6px;
    cursor: pointer;
    min-width: 0;
    overflow: hidden;

    .left {
      display: flex;
      align-items: center;
      gap: 12px;
      min-width: 0;
    }

    .right {
      width: calc(100% - 46px);
      min-width: 0;
    }

    .tool-common-icon {
      width: 28px;
      height: 28px;
      border-radius: 8px;
    }

    .grey-font {
      color: #808080;
    }

    .right-icon {
      color: #191919;
      cursor: pointer;

      &:hover {
        color: #1476FF;
      }
    }

    .select-tool{
      content: url("src/assets/agent-center/agent/compile.svg");
      &:hover {
        content: url("src/assets/agent-center/agent/compile-hover.svg");
      }
    }
  }
}

.no-data-text {
  color: #808080;
  text-align: justify;
  line-height: 24px;
  padding: 0 12px;
}

.right-area {
  display: flex;
  align-items: center;
  gap: 12px;
}

.intelligent-add-border {
  background: linear-gradient(4deg, #fdf4ffff 0%, #cde9ffff 100%);
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  border: 1px solid #c2cffb;

  &:hover {
    border-color: #856afd;
  }
}

.icon-border {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  &:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.update-flow-icon {
  cursor: pointer;
  width: 40px;
  height: 16px;
}

.warring-flow-icon {
  cursor: pointer;
  width: 24px;
  height: 16px;
}

.share-tag {
  color: rgba(25, 25, 25, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  background: #E6E6E6;
  border-radius: 2px;
  padding: 0px 4px 0px 4px;
}

.class-filter {
  filter: grayscale(100%) !important;
  color: rgba(194, 194, 194, 1) !important;
}

.skill-list-input-params-title {
  font-size: 14px;
  color: rgb(25, 25, 25);
  font-weight: 600;
  height: 18px;
  margin-bottom: 12px;
  margin-top: 8px;
}

.skill-list-input-params-content {
  margin-bottom: 12px;
  .first-line {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 18px;
    margin-bottom: 8px;
  }
  .param-type {
    padding: 0 8px;
    border-radius: 2px;
    background: rgb(245, 245, 245);
  }
  .param-require {
    border-radius: 2px;
    background: rgb(252, 227, 224);
    color: rgb(242, 48, 48);
    padding: 0 4px;
  }
  .param-desc {
    height: 18px;
    color: rgb(128, 128, 128);
    margin-bottom: 8px;
  }
  .text-overflow {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
